<%= simple_form_for @user, :as => @user, :html => {:method => :put, :class => 'form-horizontal'} do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :current_password, :hint => "You must know you current password to change"  %>
    <%= f.input :password  %>
    <%= f.input :password_confirmation  %>



    <div class="form-actions">
        <%= f.button :submit, 'Update', :class => 'btn-primary' %>
        <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
    </div>

<% end %>