<%= form_for @user, :as => @user, :html => {:method => :put, :class => 'well'} do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :current_password %>
      <%= f.password_field :current_password %>

    <%= f.label :password %>
      <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>


    <div><%= f.submit "Submit" %></div>

<% end %>