<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myapp</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">


          a {
            color: #0088cc;
            text-decoration: none;
          }
          a:hover {
            color: #005580;
            text-decoration: underline;
          }

      </style>
  </head>



  <body>
  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= root_path %>">MyApp</a>
            <div class="nav-collapse">
              <ul class="nav">
                <%=  render 'devise/menu/login_items' %>
                <%=  render 'devise/menu/registration_items' %>

              </ul>
              <%=  render 'devise/menu/logout' %>

            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="flash">
            <% flash.each do |type, message| -%>
                <div class="alert-message <%= type %>">
                  <p><%= message %></p>
                </div>
            <% end -%>
          </div>

        <%= yield %>

      </div> <!-- /container -->
  </body>
</html>